[submodule "device/FreeRTOS-Kernel"]
	path = device/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "device/pico-sdk"]
	path = device/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "GOM-JABBAR"]
	url = https://github.com/DustinRunkel/GOM-JABBAR.git
