[submodule "device/FreeRTOS-Kernel"]
	path = device/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "device/pico-sdk"]
	path = device/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "device/App/Gom-Jabbar/external/yyjson"]
	path = device/App/Gom-Jabbar/external/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "device/App/Gom-Jabbar/external/fmt"]
	path = device/App/Gom-Jabbar/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "device/App/Gom-Jabbar/external/nameof"]
	path = device/App/Gom-Jabbar/external/nameof
	url = https://github.com/Neargye/nameof.git
